@charset "UTF-8";
body {
  text-align: center;
    /*-------------------------------------------------------
*
*
* ヘッダー
*
*
*-------------------------------------------------------*/
  /*-------------------------------------------------------
  *
  *
  * ボーダー
  *
  *
  *-------------------------------------------------------*/
  /*-------------------------------------------------------
  *
  *
  * メイン
  *
  *
  *-------------------------------------------------------*/
    /*-------------------------------------------------------
*
*
* フッター
*
*
*-------------------------------------------------------*/
}
body header {
  position: relative;
  height: 110vh;
}
body header #container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body header #container #background_video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
  width: 100%;
}
body header #container #video_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../resource/img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
body header #container #overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(25deg, rgba(228, 102, 197, 0.8), rgba(0, 96, 250, 0.3));
  opacity: 0.8;
}
body header #container #main_content {
  z-index: 2;
  position: relative;
  display: inline-block;
  /* Vertical center */
  top: 50%;
  transform: translateY(-50%);
}
body header #container #main_content h1 {
  text-transform: none;
  font-weight: 600;
  font-family: 'kan412typos-std',sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 35px;
  padding: 0 20px;
}
body header #container #main_content .sub_head {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  text-align: center;
  font-family: 'kan412typos-std',sans-serif;
}
body .border {
  width: 100%;
  height: 20px;
  background-color: #ccd7ea;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #F9F9F9), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #F9F9F9), color-stop(0.75, #F9F9F9), color-stop(0.75, transparent), to(transparent));
  -webkit-background-size: 14px 14px;
}
body main {
  width: 100%;
  height: auto;
  background-color: #f0d4e1;
  padding: 30px;
}
body main .description {
  width: 60%;
  margin: 0 auto;
  background-color: #f0d4e1;
}
body main .description h1 {
  font-family: 'kan412typos-std',sans-serif;
  text-align: center;
  font-size: 32px;
  color: #4d484a;
}
body main .description h1 span {
  font-size: 28px;
}
body main .description p {
  text-align: center;
  font-family: 'kan412typos-std',sans-serif;
  color: #4d484a;
}
body main .desc_box {
  position: relative;
  background: #f7f4e5;
  box-shadow: 0 0 0 5px #f7f4e5;
  border: dashed 2px #fff;
  padding: 0.2em 0.5em;
  color: #454545;
  width: 60%;
  min-width: 280px;
  margin: 0 auto;
  margin-top: 40px;
}
body main .desc_box:after {
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #f7f4e5 #f0d4e1 #f7f4e5;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
body main .desc_box h1 {
  font-family: 'kan412typos-std',sans-serif;
  text-align: center;
  font-size: 32px;
  color: #4d484a;
  position: relative;
  padding: 0.25em 0;
}
body main .desc_box h1:after {
  content: "";
  width: 80%;
  display: block;
  height: 4px;
  margin: 0 auto;
  background: -webkit-linear-gradient(to right, #efb2cf, transparent);
  background: linear-gradient(to right, #efb2cf, transparent);
}
body main .desc_box h1 span {
  font-size: 28px;
}
body main .desc_box p {
  text-align: center;
  font-family: 'kan412typos-std',sans-serif;
  color: #4d484a;
}
body main .scene_box {
  width: 60%;
  min-width: 280px;
  margin: 0 auto;
  margin-top: 60px;
}
body main .scene_box h1 {
  font-family: 'kan412typos-std',sans-serif;
  text-align: center;
  font-size: 32px;
  color: #4d484a;
}
body main .scene_box .slick-box {
  width: 100%;
}
body main .scene_box .slick-box img {
  width: 100%;
  margin: 0 auto;
}
body footer {
  width: 100%;
  height: 60px;
  background-color: #c2a2b6;
}
body footer p {
  text-align: center;
  line-height: 60px;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
